/* All custom css */

h1 {
  color: green !important;
}

header {
  height: 104px;
  margin-bottom: 20px;
  background-color: #333;
  border-bottom: 4px #000 solid;
  /* Shadow */
  -webkit-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.75);
}

.menu-upper-menu-container {
  display: inline-block;
  width: 80%;
  float: right;
}

/* Menu Styling */
#menu-upper-menu {
  width: 30%;
  margin: 0 auto !important;
}

#menu-upper-menu,
#menu-upper-menu .sub-menu  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#menu-upper-menu li,
#menu-upper-menu .sub-menu li {
  float: left;
}

#menu-upper-menu li a,
#menu-upper-menu .sub-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 38px;
  text-decoration: none;
}

#menu-upper-menu li a:hover {
  background-color: #111111;
}

#menu-upper-menu .menu-item-has-children {
  position: relative;
}

#menu-upper-menu .menu-item-has-children ul{
  display: none;
}

#menu-upper-menu .menu-item-has-children ul li {
  float: inherit !important;
}

/* Enable the hover switch */
#menu-upper-menu .menu-item-has-children:hover ul{
  display: block;
  position: fixed;
  z-index: 99999;
}

.attachment-post-thumbnail {
  width: 60%;
}
